* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #111827; }

.h1 {
  font-family: 'Passion One', sans-serif;
  color: #e74673;
  margin: 10px;
  padding: 10px; }

header {
  position: fixed;
  width: 100%;
  z-index: 1000; }
  header nav {
    width: 100%;
    background-color: #111827;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); }
    header nav .navbar-nav {
      display: flex;
      list-style: none;
      gap: 15px;
      align-items: center; }
      header nav .navbar-nav .nav-item .nav-link {
        text-decoration: none;
        color: white; }
        header nav .navbar-nav .nav-item .nav-link:hover {
          color: #e74673; }
      header nav .navbar-nav .nav-item .suscripcion {
        background-color: #e74673;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        color: white;
        text-decoration: none; }
        header nav .navbar-nav .nav-item .suscripcion:hover {
          background-color: #e746748a; }
    header nav .collapse {
      justify-content: end; }
    header nav .logo-grande {
      width: 200px;
      margin: 15px; }
    header nav .logo-chico {
      width: 44px;
      margin: 15px 10px 15px 10px; }

main .fondo {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .fondo .slogan {
    color: white;
    font-size: 32px; }
  main .fondo .slogan-1 {
    color: white;
    font-size: 48px; }
  main .fondo .d-flex {
    width: 40%; }
    main .fondo .d-flex .btn-outline-success {
      --bs-btn-color: #ffff;
      --bs-btn-border-color: #ffff;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: rgba(17, 24 ,39, 1);
      --bs-btn-hover-border-color: rgba(17, 24 ,39, 1);
      --bs-btn-focus-shadow-rgb: 25, 135, 84;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: rgba(17, 24 ,39, 1);
      --bs-btn-active-border-color: rgba(17, 24 ,39, 1);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: rgba(17, 24 ,39, 1);
      --bs-btn-disabled-bg: transparent;
      --bs-btn-disabled-border-color: rgba(17, 24 ,39, 1);
      --bs-gradient: none; }

main .carousel-caption {
  background-color: #111827; }

main .card-section {
  background-color: #111827;
  padding: 50px;
  display: flex;
  justify-content: center; }
  main .card-section .categoria-index {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px; }
    main .card-section .categoria-index .card {
      border-radius: 5px;
      box-shadow: 10px 10px 10px rgba(231, 70, 115, 0.5);
      background-color: beige; }
      main .card-section .categoria-index .card .card-text, main .card-section .categoria-index .card .card-title {
        color: rgba(13, 93, 163, 0.5); }
      main .card-section .categoria-index .card .btn {
        color: white;
        background-color: #e74673; }

.index {
  background-color: #e74673;
  position: absolute;
  top: 2420px;
  width: 100%;
  height: 100px; }
  .index .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

.nosotros {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px; }
  .nosotros .nos {
    width: 50%;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: #111827;
    color: white; }
    .nosotros .nos h2 {
      padding: 10px;
      color: #e74673; }
    .nosotros .nos p {
      font-size: large;
      padding: 10px; }

footer {
  background-color: #e74673;
  position: absolute;
  top: 900px;
  width: 100%;
  height: 100px; }
  footer .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

.contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.contactanos {
  color: white;
  padding: 20px;
  font-size: 50px; }

.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 200px; }
  .formulario .box-form {
    margin: 10px;
    padding: 10px;
    color: white; }
  .formulario .textarea {
    margin: 10px;
    padding: 10px; }
  .formulario .botones {
    margin: 10px;
    padding: 10px; }
    .formulario .botones .btn {
      background-color: #e74673;
      color: white; }
      .formulario .botones .btn:hover {
        background-color: #e746748a; }

.contacto-f {
  background-color: #e74673;
  position: absolute;
  top: 900px;
  width: 100%;
  height: 100px; }
  .contacto-f .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

.suscribite {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.separte {
  color: white;
  padding: 30px; }

.comercio {
  margin: 10px;
  padding: 10px;
  color: white; }

.tel {
  margin: 10px;
  padding: 10px;
  color: white; }

.comentario {
  margin: 10px;
  padding: 10px;
  color: white; }

.dom {
  margin: 10px;
  padding: 10px;
  color: white; }

.botones-f {
  margin: 10px;
  padding: 10px; }
  .botones-f .btn {
    background-color: #e74673;
    color: white; }
    .botones-f .btn:hover {
      background-color: #e746748a; }

.logopng {
  width: 100px;
  height: 100px; }

li a {
  text-decoration: none; }

.suscribite-f {
  background-color: #e74673;
  position: absolute;
  top: 928px;
  width: 100%;
  height: 100px; }
  .suscribite-f .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

main {
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

.hosp-section {
  display: flex;
  justify-content: center;
  padding: 50px; }
  .hosp-section .hospedaje {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center; }
    .hosp-section .hospedaje .lista {
      justify-self: center;
      align-self: center; }
      .hosp-section .hospedaje .lista .card {
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        background-color: beige; }
        .hosp-section .hospedaje .lista .card .card-text, .hosp-section .hospedaje .lista .card .card-title {
          color: rgba(13, 93, 163, 0.5); }
    .hosp-section .hospedaje .map-cat {
      justify-self: center;
      align-self: center; }

.lista ul li {
  list-style: none; }

.hospedaje-f {
  background-color: #e74673;
  position: absolute;
  top: 1150px;
  width: 100%;
  height: 100px; }
  .hospedaje-f .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

header {
  position: fixed;
  width: 100%;
  z-index: 1000; }
  header nav {
    width: 100%;
    background-color: #111827;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); }
    header nav .navbar-nav {
      display: flex;
      list-style: none;
      gap: 15px;
      align-items: center; }
      header nav .navbar-nav .nav-item .nav-link {
        text-decoration: none;
        color: white; }
        header nav .navbar-nav .nav-item .nav-link:hover {
          color: #e74673; }
      header nav .navbar-nav .nav-item .suscripcion {
        background-color: #e74673;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        color: white;
        text-decoration: none; }
        header nav .navbar-nav .nav-item .suscripcion:hover {
          background-color: #e746748a; }
    header nav .collapse {
      justify-content: end; }
    header nav .logo-grande {
      width: 200px;
      margin: 15px; }
    header nav .logo-chico {
      width: 44px;
      margin: 15px 10px 15px 10px; }

main .fondo {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(../assets/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }
  main .fondo .slogan {
    color: white;
    font-size: 32px; }
  main .fondo .slogan-1 {
    color: white;
    font-size: 48px; }
  main .fondo .d-flex {
    width: 40%; }
    main .fondo .d-flex .btn-outline-success {
      --bs-btn-color: #ffff;
      --bs-btn-border-color: #ffff;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: rgba(17, 24 ,39, 1);
      --bs-btn-hover-border-color: rgba(17, 24 ,39, 1);
      --bs-btn-focus-shadow-rgb: 25, 135, 84;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: rgba(17, 24 ,39, 1);
      --bs-btn-active-border-color: rgba(17, 24 ,39, 1);
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: rgba(17, 24 ,39, 1);
      --bs-btn-disabled-bg: transparent;
      --bs-btn-disabled-border-color: rgba(17, 24 ,39, 1);
      --bs-gradient: none; }

main .carousel-caption {
  background-color: #111827; }

main .card-section {
  background-color: #111827;
  padding: 50px;
  display: flex;
  justify-content: center; }
  main .card-section .categoria-index {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px; }
    main .card-section .categoria-index .card {
      border-radius: 5px;
      box-shadow: 10px 10px 10px rgba(231, 70, 115, 0.5);
      background-color: beige; }
      main .card-section .categoria-index .card .card-text, main .card-section .categoria-index .card .card-title {
        color: rgba(13, 93, 163, 0.5); }
      main .card-section .categoria-index .card .btn {
        color: white;
        background-color: #e74673; }

.index {
  background-color: #e74673;
  position: absolute;
  top: 2420px;
  width: 100%;
  height: 100px; }
  .index .gracias {
    color: white;
    text-align: center;
    font-size: large;
    padding: 20px; }

/*Desktop*/
@media only screen and (max-width: 1024px) {
  main .card-section .categoria-index {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; }
  .nosotros {
    flex-direction: column; }
    .nosotros .nos {
      width: 70%;
      height: 40vh; } }

/*tablet*/
.logo-grande, .logo-chico {
  display: none; }

@media (max-width: 900px) {
  main .fondo .slogan {
    font-size: 20px; }
  main .fondo .slogan-1 {
    font-size: 25px; } }

@media (min-width: 769px) {
  .logo-grande {
    display: flex; } }

@media (max-width: 768px) {
  .logo-chico {
    display: flex; }
  main .fondo .d-flex {
    width: 100%; }
  .nosotros .nos {
    width: 80%;
    height: 50vh; }
  .contacto {
    flex-direction: column;
    justify-content: center; }
    .contacto label {
      font-size: small; }
    .contacto .formulario {
      margin-top: 20px; } }

@media (max-width: 670px) {
  main .fondo .slogan {
    font-size: 15px; }
  main .fondo .slogan-1 {
    font-size: 20px; }
  .nosotros .nos-img {
    display: none; } }

@media (max-width: 540px) {
  .nosotros .nos {
    width: 90%;
    height: 50vh; } }

/*Mobile*/
@media only screen and (max-width: 426px) {
  main .card-section .categoria-index {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px; } }

@media (max-width: 320px) {
  .logo-chico {
    width: 50px;
    margin: 15px 150px 15px 10px; }
  .card-section .categoria-index .card {
    width: 200px;
    height: 300px; }
    .card-section .categoria-index .card .card-text {
      font-size: 10px; }
  .nosotros .nos {
    width: 90%;
    height: 70vh; }
  .contacto .formulario {
    margin-top: 0px;
    padding: 10px; }
    .contacto .formulario .box-form {
      margin: 0px;
      padding: 5px; }
  .contacto .contactanos {
    font-size: 20px; }
  .contacto label {
    font-size: x-small; }
  .contacto input {
    width: 150px; }
  .contacto .botones input {
    margin: 15px; } }
