@import "./utilities/variables";
@import "./utilities/mixins";
.contacto{
    width: 100%;
    height: 100vh;
    @include flex(space-evenly,center,row);
    @include fondo(url(../assets/fondo-2.jpeg),no-repeat,cover);

}
.contactanos{
        color:white;
        padding: 20px;
        font-size: 50px;
    }
.formulario{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        .box-form{
            margin: 10px;
            padding: 10px;
            color: $color-fuente;
        }
        .textarea{
            margin: 10px;
            padding: 10px;
        }
        .botones{
            margin: 10px;
            padding: 10px;
            .btn{
                background-color: #e74673;
                color: $color-fuente;
                &:hover{
                    background-color: #e746748a;
                }
            }
        }
    }
.contacto-f{
    background-color: #e74673;
    position: absolute;
    top: 900px;
    width: 100%;
    height: 100px;
    .gracias{
        color: white;
        text-align: center;
        font-size: large;
        padding: 20px;
    }
}