@import "./utilities/variables";
@import "./utilities/mixins";
main{
    @include fondo(url(../assets/fondo-2.jpeg),no-repeat,cover);
}
.hosp-section{
    display: flex;
    justify-content:center;
    padding: 50px;
.hospedaje{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    .lista{
            .card{
                border-radius: 5px;
                box-shadow: $box-shadow;
                background-color: beige;
                .card-text , .card-title{
                    color:rgba(13, 93, 163, 0.5);
                }
        }
        justify-self: center;
        align-self: center;
    }
    .map-cat{
        justify-self: center;
        align-self: center;
    }
    }

}
.lista{
    ul{
        li{
            list-style: none;
        }
    }
}
.hospedaje-f{
    background-color: #e74673;
    position: absolute;
    top: 1150px;
    width: 100%;
    height: 100px;
    .gracias{
        color: white;
        text-align: center;
        font-size: large;
        padding: 20px;
    }
}