@import "./utilities/variables";
@import "./utilities/mixins";
.hosp-main{
    @include fondo(url(../assets/fondo-2.jpeg),no-repeat,cover);
    height: 1500px;
    .hosp-h{
        color:white;
        padding-top: 200px;
    }
}
.map-1,.map-2,.map-3{
    display: none;
}
    .hosp-section{
        display: flex;
        justify-content:center;
        padding: 50px;
    .hospedaje{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 4fr 1.5fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: center;
        .lista{
            display: flex;
            justify-content: center;
            align-content: center;
            justify-self: center;
            align-self: center;
            .list-group{
                --bs-list-group-bg:rgba(17, 24 ,39, 1);
                --bs-list-group-border-color:rgba(17, 24 ,39, 1) ;}
                .card{
                    border-radius: 5px;
                    box-shadow: $box-shadow;
                    background-color: beige;
                    .card-text , .card-title{
                        color:rgba(13, 93, 163, 0.5);
                    }
            }
        }
        .map-cat{
            justify-self: center;
            align-self: center;
        }
        }
}

.hospedaje-f{
    background-color: #e74673;
    position: absolute;
    top: 1500px;
    width: 100%;
    height: 100px;
    .gracias{
        color: white;
        text-align: center;
        font-size: large;
        padding: 20px;
    }
}