@import "_index.scss";
/*Desktop*/

@media only screen and(max-width:1024px ){
    main{
        .card-section{
            .categoria-index{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                gap:20px;
            }
        }
    }
    .nosotros{
        .nos{
            width: 70%;
            height: 40vh;
            
        }
    }
}

/*tablet*/
.logo-grande, .logo-chico {
    display: none;
}
@media (max-width:900px){
    main{
        .fondo{
            .slogan{
                font-size:20px
            }
            .slogan-1{
                font-size:25px;
            }
        }
    }
}
@media (min-width: 769px) {
    .logo-grande {
    display: flex;
    }
}
@media (max-width: 768px) {
    .logo-chico {
    display:flex;
    }
    main{
        .fondo{
        .d-flex{
            width: 100%;
        }
        }
    }
    .nosotros{
        .nos{
            width: 80%;
            height: 50vh;
            
        }
    }
    .contacto{
        label{
            font-size:small;
        }
    }
} 
@media (max-width:670px){
    main{
        .fondo{
            .slogan{
                font-size:15px;
            }
            .slogan-1{
                font-size:20px;
            }
        }
    }
}
@media (max-width:540px){
    .nosotros{
        .nos{
            width: 90%;
            height: 50vh;
            
        }
    }
}
/*Mobile*/
     /* Mostrar mapa grande para pantallas grandes */
     @media only screen and(max-width:426px ){
        main{
            .card-section{
                .categoria-index{
                    grid-template-columns: repeat(1,1fr);
                    grid-template-rows: repeat(4,1fr);
                    gap:20px;
                }
            }
        }
    }
@media (max-width: 320px) {
    .logo-chico{
        width: 50px;
        margin: 15px 150px 15px 10px;
    }
    .card-section{
        .categoria-index{
            .card{
                width: 200px;
                height: 300px;
                .card-text{
                    font-size: 10px;
                }
            }
        }
    }
    .nosotros{
        font-size:small;
            .nos{
                width: 90%;
                height: 50vh;
                
            }
        }
        .contacto{
            label{
                font-size:x-small;
            }
            input{
                width: 150px;
            }
            .botones{
                input{
                    margin: 15px;
                }
            }
        }
    }
