@import "_index.scss";
/*Desktop*/
@media (min-width:1025px){
    .map-2,.map3{
        display: none;
    }
    .map-1{
        display: block;
    }
}
@media only screen and(max-width:1024px ){
    main{
        .card-section{
            .categoria-index{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                gap:20px;
            }
        }
    }
    .nosotros{
        flex-direction: column;
        .nos{
            width: 70%;
            height: 40vh;
            
        }
    }
    .hosp-main{
        height: 1700px;
    }
    .hosp-section{
        .hospedaje{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 4fr;
            .lista{
                padding-top: 20px;
            }
        }
    }
    

    .hospedaje-f{
        top:1700px;
    }
    .map-1,.map-3{
        display: none;
    }
    .map-2{
        display: block;
    }
}

/*tablet*/
.logo-grande, .logo-chico {
    display: none;
}
@media (max-width:900px){
    main{
        .fondo{
            .slogan{
                font-size:20px
            }
            .slogan-1{
                font-size:25px;
            }
        }
    }
}

@media (max-width:890px){

    .hosp-main{
        .hosp-h{
            padding-bottom: 20px;
        }
    }
    .hosp-section{
        .hospedaje{
            .lista{
                width: 500px;
                padding-top: 20px;
                .card{
                    width: 450px;
                }
            }
        }
    }
}
@media (min-width: 769px) {
    .logo-grande {
    display: flex;
    }
}
@media (max-width: 768px) {
    .logo-chico {
    display:flex;
    }
    main{
        .fondo{
        .d-flex{
            width: 100%;
        }
        }
    }
    .nosotros{
        .nos{
            width: 80%;
            height: 50vh;
            
        }
    }
    .contacto, .suscribite{
        label{
            font-size:small;
        }
        flex-direction: column;
        justify-content: center;
        .formulario{
            margin-top: 20px;
        }
    }
    .suscribite{
        height: 1200px;
        .separte{
            margin-top: 250px;
        }
    }
    .suscribite-f{
        top: 1200px;
    }
    .hosp-main{
        height: 2500px;
    }
    .hosp-main{
        height: 1500px;
        .hosp-h{
            font-size: large;
            padding-bottom: 20px;
        }
    }
    .hosp-section{
        .hospedaje{
            margin-top:20px;
            .map-cat{
                margin-top:20px;
            }
            .lista{
                padding-top: 20px;
                .list-group{
                    .list-group-item{
                        .card{
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
    .hospedaje-f{
        top:1500px;
    }
    
} 
@media (max-width:767px){
    .hosp-section{
        .hospedaje{
            margin-top:20px;
            .map-cat{
                margin-top:20px;
            }
            .lista{
                padding-top: 20px;
                .card{
                    .img{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width:670px){
    main{
        .fondo{
            .slogan{
                font-size:15px;
            }
            .slogan-1{
                font-size:20px;
            }
        }
    }
    .nosotros{
        .nos-img{
            display: none;
        }
    }
}
@media (max-width:540px){
    .nosotros{
        .nos{
            width: 90%;
            height: 50vh;
            
        }
    }
    .map-1,.map-2{
        display: none;
    }
    .map-3{
        display: block;
    }
    .hosp-section{
        .hospedaje{
            margin-top:20px;
            .map-cat{
                margin-top:20px;
            }
            .lista{
                padding-top: 20px;
                .list-group{
                    width: 320px;
                    .list-group-item{
                        .card{
                            width: 280px;
                        }
                    }
                    
                }
            }
        }
    }
}
/*Mobile*/
    @media only screen and(max-width:426px ){
        main{
            .card-section{
                .categoria-index{
                    grid-template-columns: repeat(1,1fr);
                    grid-template-rows: repeat(4,1fr);
                    gap:20px;
                }
            }
        }
        .contacto , .suscribite{
            .formulario{
                margin-top: 0px;
                padding: 10px;
                .box-form{
                    margin:0px;
                    padding: 5px;
                }
            }
            .contactanos , .separte{
                font-size: 20px;
                margin-top: 150px;
            }
            label{
                font-size:x-small;
            }
            input{
                width: 150px;
            }
            .botones{
                input{
                    margin: 15px;
                }
            }
        }
        .suscribite{
            height: 900px;
        }
        .suscribite-f{
            top: 900px;
        }
        .hosp-section{
        .hospedaje{
            margin-top:20px;
            .map-cat{
                margin-top:20px;
            }
            .lista{
                width: 320px;
                padding-top: 20px;
                .card{
                    width: 300px;
                    .img{
                        display: none;
                    }
                }
            }
        }
    }
    }
@media (max-width: 320px) {
    .logo-chico{
        width: 50px;
        margin: 15px 150px 15px 10px;
    }
    .card-section{
        .categoria-index{
            .card{
                width: 200px;
                height: 300px;
                .card-text{
                    font-size: 10px;
                }
            }
        }
    }
    .nosotros{
            .nos{
                width: 90%;
                height: 70vh;
            }
        }

    }
