@import "./utilities/variables";
@import "./utilities/mixins";
.nosotros{
    width: 100%;
    height: 80vh;
    @include flex(center,center,row);
    @include fondo(url(../assets/fondo-2.jpeg),no-repeat,cover);
    .nos{
        width: 50%;
        height: 30vh;
        border-radius: 5px;
        box-shadow: $box-shadow;
        background-color: $background-color;
        color: $color-fuente;
        h2{
            padding: 10px;
            color: #e74673;
        }
        p{
            padding: 10px;
        }
        
    }
}

footer{
    background-color: #e74673;
    position: absolute;
    top: 900px;
    width: 100%;
    height: 100px;
    .gracias{
        color: white;
        text-align: center;
        font-size: large;
        padding: 20px;
    }
}