@import "./utilities/variables";
@import "./base/generales";
@import "_index.scss";
@import "_nosotros.scss";
@import "_contacto.scss";
@import "_suscribite.scss";
@import "_hospedaje";

/**media queries*/
/*tablet*/
.logo-grande, .logo-chico {
    display: none;
}
  /* Mostrar imagen grande para pantallas grandes */

@media (min-width: 769px) {
    .logo-grande {
    display: flex;
    }
}
  /* Mostrar imagen pequeña para pantallas pequeñas */
@media (max-width: 768px) {
    .logo-chico {
    display:flex;
    }
    .nosotros{
        grid-template-columns: 600px;
    }
}
/*Mobile*/
     /* Mostrar mapa grande para pantallas grandes */

    @media (min-width: 321px) {
    .g-maps-grande {
    display: block;
    }
    .categorias{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
    
    }
}
@media (max-width: 320px) {
    .logo-chico{
        width: 50px;
        margin: 15px 150px 15px 10px;
    }
    .g-maps-chico{
    display:block
    }
    .categorias-chico{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content:space-around;
            text-decoration: none;
            list-style: none;
        
        
    }
    .categoria-index{
        padding: 50px 0;
        flex-direction: column;
    }
    .nosotros{
        grid-template-columns: 300px;
        gap:10px;
        font-size: x-small;
    }
}