@mixin flex($justify,$align,$direction){
    display: flex;
    justify-content:$justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin  fondo($img,$bgr,$bgs){
    background-image: $img;
    background-repeat: $bgr;
    background-size: $bgs;
}
